@model Webphone._Models.Invoice

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutMn.cshtml";
}

<h1>Create</h1>

<h4>Invoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InvoiceDate" class="control-label"></label>
                <input asp-for="InvoiceDate" class="form-control" />
                <span asp-validation-for="InvoiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceStatus" class="control-label"></label>
                <input asp-for="InvoiceStatus" class="form-control" />
                <span asp-validation-for="InvoiceStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustName" class="control-label"></label>
                <input asp-for="CustName" class="form-control" />
                <span asp-validation-for="CustName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustPhone" class="control-label"></label>
                <input asp-for="CustPhone" class="form-control" />
                <span asp-validation-for="CustPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustAdd" class="control-label"></label>
                <input asp-for="CustAdd" class="form-control" />
                <span asp-validation-for="CustAdd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

